<br>
<br>
<br>
<h1>DASHBOARD</h1>
<br>
<br>

<div>
  <h3> How many products you have.. </h3>
  <p> <%= @product %> </p>
</div>
<br>

<div>
  <h3> How many categories you have... </h3>
  <p> <%= @category %> </p>
</div>
