<br>
<br>
<br>
<h1>DASHBOARD</h1>
<br>
<br>

<div class="dashboard_products">
  <h4> How many products you have.. </h4>
  <button type="button" class="btn btn-primary" >
    <%= link_to @product, admin_products_path %>
  </button>
  </span>
</button>
</div>


<div>
  <h4> How many categories you have... </h4>
  <button type="button" class="btn btn-primary">
    <%= @category %>
  </button>
</div>
